/* for nesting */

@mixin for_browsers {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

body:before {
  display: none;
  content: url("/Default_Cover/second_header.png");
  content: url("/Default_Cover/body.png");
  content: url("/Default_Cover/header.png");
  content: url("/Default_Cover/GlassBackgroundWhite40.png");
  content: url("/Default_Cover/GlassBackgroundPurple30.png");
  content: url("/Default_Cover/GlassBackgroundPurple10.png");
}

@mixin super_border($top, $right, $bottom, $left, $type, $color) {
  border-left: $left $type $color;
  border-right: $right $type $color;
  border-top: $top $type $color;
  border-bottom: $bottom $type $color;
}

@mixin super_size($height, $width){
  height: $height;
  width: $width;
}

@mixin max_size($height, $width){
  max-height: $height;
  max-width: $width;
  max-device-height: $height;
  max-device-width: $width;
}

.rubber{
  float: left;
  clear: left;
  width: 100%;
}

//------------------------------------ Body ------------------------------------

body {
  font: 13pt forum;
  background-image: url("/Default_Cover/body.png");
  background-size: auto 300px;
  margin: 0;
  padding: 0;
}

//----------------------------------- Header -----------------------------------

header {
  position: fixed; top: 0; left: 0;
  z-index: 17;
  @include super_size(57px, 100%);
  padding: 0;
  margin: 0;
  background-image: url("/Default_Cover/header.png");
  background-size: auto 85px;
  background-repeat: repeat-x;
//  border: 1px solid red;
}

.MainHeader {
  position: fixed;
  top: 17px;
  left: 80px;
  margin: 0;
  padding: 0;
  font: 24px Boomboom;
  color: white;
//  border: 1px solid red;
}

.navigation {
  position: fixed;
  top: 56px;
  right: 0px;
  min-height: 22px;
  width: 100%;
  text-align: right;
  background-image: url("/Default_Cover/second_header.png");
  background-size: auto 300px;
  background-repeat: repeat-x;
//  border: 1px solid red;
}

.navigation_block {
  display: inline-block;
}

//------------------------------------------------------------------------------

.language_block {
  display: inline-block;
  vertical-align: middle;
  height: 15px;
  text-align: center;
}

.language_cover {
  float: left;
  overflow: hidden;
  &:hover .item {
    display: block;
  }
}

.language_title {
  display: block;
  padding: 0px 20px 0px 20px;
  font: 10pt forum;
  color: black;
  margin-bottom: 8px;
}

.item {
  display: none;
  margin: 5px 0px 5px 0px;
  border: 1px solid #ad9eff;
  border-radius: 5px;
  background-image: url("/Default_Cover/second_header.png");
  background-size: auto 300px;
  background-repeat: repeat-x;
}

.submenu_link {
  display: inline-block;
  text-decoration: none;
  font: 10pt forum;
  color: black;
  &:link {
    color: black;
  }
  &:visited {
    color: black;
  }
  &:hover {
    color: white;
  }    
}

//-------------------------------- information block ---------------------------

.InformationBlock {
  margin-top: 85px;
  padding-top: 10px;
  @include super_size(auto, 100%);
}

.AlertInformation {
  font: 14pt forum;
  color: red;
  text-align: center;
}

.CommonInformation {
  font: 14pt forum;
  color: green;
  text-align: center;
}

//---------------------------------- Wrapper -----------------------------------

.wrapper {
  overflow: hidden;
  margin: 0px 15% 35px 15%;
  @include super_border(0px, 0px, 0px, 0px, solid, white);
  padding: 10px;
  text-align: center 
}

//----------------------------------- Text -------------------------------------

.SiteDescriptionBlock {
}

.SiteDescription {
  font: 12pt forum;
}

.RememberMeText {
  display: inline-block;
  vertical-align: middle;
  font: 14pt forum;
  margin-left: 15px;
}

.QuestionPhoto {
  border: 1px solid #ad9eff;
  @include max_size(400px, 400px);
}

.QuestionPhotoAlign {
  overflow: hidden;
  margin: 25px auto;
}


//---------------------------------- for links ---------------------------------

.header_link {
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  margin: 0px 20px 0px 20px;
  font: 10pt forum;
  color: black;
  &:link {
    color: black;
  }
  &:visited {
    color: black;
  }
  &:hover {
    color: white;
  }    
}

// Ok
.title_link {
  text-decoration: none;
  font: 15pt forum;
  color: black;
  &:link {
    color: black;
  }
  &:visited {
    color: black;
  }
  &:hover {
    color: #8b00ff;
  } 
}

// Ok
.title_link_small {
  text-decoration: none;
  font: 10pt forum;
  color: black;
  &:link {
    color: black;
  }
  &:visited {
    color: black;
  }
  &:hover {
    color: #8b00ff;
  } 
}

// Ok
.small_link {
  text-decoration: none;
  font: 10pt forum;
  color: black;
  &:link {
    color: black;
  }
  &:visited {
    color: black;
  }
  &:hover {
    color: #8b00ff;
  } 
}

//-------------------------------- for numbering -------------------------------

.current_page {
  display: inline-block;
  vertical-align: middle;
  font: 12pt forum;
  color: red;
  text-decoration: none;
  margin: 3px 10px 0px 10px;
  &:link {
    color: red;
  }
  &:visited {
    color: red;
  }
  &:hover {
    color: #8b00ff;
  }    
}

.numbered_link {
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  margin: 3px 10px 0px 10px;
  font: 12pt forum;
  color: black;
  &:link {
    color: black;
  }
  &:visited {
    color: black;
  }
  &:hover {
    color: #8b00ff;
  }  
}

.numbered_previous_link {
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  margin: 3px 10px 0px 10px;
  outline: none;
  @include super_size(20px, 20px);
  background: transparent;
  background-image: url("/Default_Cover/left_arrow.png");
  background-size: 20px 20px;
}

.numbered_next_link {
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  margin: 3px 10px 0px 10px;
  outline: none;
  @include super_size(20px, 20px);
  background: transparent;
  background-image: url("/Default_Cover/right_arrow.png");
  background-size: 20px 20px;
}

.numbered {
  margin-top: 10px;
  border: 1px solid #ad9eff;
  border-radius: 10px;
  height: 25px;
  background-image: url("/Default_Cover/GlassBackgroundPurple30.png");
  background-size: auto 25px;
  background-repeat: repeat-x;
}

//--------------------------------- for forms ---------------------------------- 

.plain_form {
  overflow: hidden;
  padding: 10px 10px 30px 10px;
  text-align: center;
  font: 13pt forum;
  max-width: 600px;
  margin: 15px auto;
  border-radius: 20px;
  border: 2px solid white;
}

// OK
.label {
  display: inline-block;
  @include for_browsers;
  height: 25px;
  margin: 15px 0px 0px 0px;
  border: 0px;
  padding: 3px;
  font: 12pt forum;
}

.password_label {
  @include for_browsers;
  font: 12pt forum;
}

// OK
.password_restore_link {
  text-decoration: none;
  font: 8pt forum;
  color: black;
  &:link {
    color: black;
  }
  &:visited {
    color: black;
  }
  &:hover {
    color: #8b00ff;
  } 
}

// OK
.button_submit {
  @extend .rubber;
  margin-top: 30px;
  @include super_size(45px, 100%);
  border: 2px solid white;
  border-radius: 10px;
  font: 13pt forum;
  color: white;
  outline: none;
  background: #ad9eff;
}

// OK
.button_submit_for_checkbox {
  @extend .rubber;
  margin-top: 10px;
  @include super_size(45px, 100%);
  border: 2px solid white;
  border-radius: 10px;
  font: 13pt forum;
  color: white;
  outline: none;
  background: #ad9eff;
}

// OK
.checkbox {
  display: none;
}

.checkbox_label {
  overflow: auto;
  float: left;
  margin: 10px 0px 0px 5px;
}

.checkbox_image {
  border: 2px solid white;
  border-radius: 9px;
  display: inline-block;
  vertical-align: middle;
  @include super_size(35px, 35px);
  background-image: url("/Default_Cover/checkbox.png");
  background-size: 35px 35px;
}

.checkbox:checked + label .checkbox_image {
  background-image: url("/Default_Cover/checkbox_checked.png");
}

.checkbox_text {
  display: inline-block;
  vertical-align: middle;
  margin-left: 15px;
  font: 12pt forum;
}

// OK
.text_field {
  @include for_browsers;
  text-align: center;
  width: 100%;
  height: 35px;
  border: 2px solid white;
  margin: 0px;
  outline: none;
  border-radius: 8px;
  background: #ccc2ff;
}

// alert message
.field_with_errors {
    border: 0px;
    margin: 0px;
    padding: 0px;
    label {
      color:red;
    }
    input {
      border: 2px solid red;
      background: #ffc0cb;  
    }
  }

// OK
.block_for_errors {
  padding: 10px 5px 10px 0px;
  margin: 0px 0px 20px 0px;
  border: 2px dashed red;
  font: 12pt forum;
  color: red;
  ul {
    text-align: left;
    list-style-type: circle;
    margin: 5px;
  }
}


//-------------------------------- for titles ----------------------------------

// Ok
.title_block {
  display: inline-block;
  margin: 10px 0px 20px 0px;
}

// Ok
.title_user_block {
  float: left;
  width: 100%;
  font: 10pt forum;
  padding: 0px;
  margin: 0px;
}

// Ok
.title_text {
  font: 18pt forum;
  padding: 0px;
  margin: 0px;
  color: black;
}

// Ok
.title_text_block {
  float: left;
  width: 100%;
}

//------------------------------- for users index ------------------------------

// Ok
.user_center_align {
  display: inline-block;
}

.user_wrapper {
  display: inline-block;
  overflow: hidden;
  @include super_size(250px, 250px);
  margin: 20px 10px auto;
  border: 1px solid #ad9eff;
  background-image: url("/Default_Cover/GlassBackgroundPurple30.png");
  background-size: 300px auto;
  border-radius: 25px;
}

// Ok
.user_avatar_block {
  margin: auto;
  margin-top: 25px;
  min-height: 100px;
}

// Ok
.user_avatar {
  @include max_size(150px, 150px);
}

// Ok
.user_name_block {
  margin: auto;
}

// Ok
.user_name {
  font: 12pt forum;
  margin: 0px;
}

// Ok
.user_edit {
  margin: auto;
  font: 10pt forum;
}

// Ok
.user_delete {
  margin: auto;
  font: 10pt forum;
}

//-------------------------------- for users form ------------------------------

// OK
.avatar_block {
  max-width: 500px;
  margin: 15px auto;
  text-align: center;
  padding: 10px 0px 0px 0px;
}

// OK
.avatar_photo_block {
  display: inline-block;
  vertical-align: middle;
  margin: 0px 0px 0px 10px;
}

// OK
.avatar_photo {
  display: inline-block;
  vertical-align: middle;
  @include max_size(200px, 200px);
}

// OK
.avatar_rotation_block {
  display: inline-block;
  vertical-align: middle;
  width: 250px;
  margin: 0px 0px 0px 35px;
}

// OK
.radio_button {
  display: none;
}

// OK
.radio_button_label {
  display: inline-block;
  vertical-align: middle;
  @include super_size(20px, 250px);
  margin: 10px 0px 0px 0px;
  text-align: left;
}

.radio_button_image {
  display: inline-block;
  vertical-align: middle;
  @include super_size(15px, 15px);
  border: 3px solid white;
  border-radius: 15px;
  background-image: url("/Default_Cover/radio_button.png");
  background-size: 15px 15px;
}

.radio_button:checked + label .radio_button_image {
  background-image: url("/Default_Cover/radio_button_selected.png");
}

.radio_button_text {
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
  font: 12pt forum;
}

// OK
.upload_label {
  display: inline-block;
  width: 100%;
  margin: 10px 0px 0px 10px;
  text-align: left;
  font: 12pt forum;
}

// OK
.upload_field {
  width: 100%;
  display: inline-block;
  margin: 3px 0px 0px 10px;
  text-align: left;
}

//-------------------------------- Footer --------------------------------------

footer {
  position: fixed; bottom: 0; left: 0;
  @include super_size(35px, 100%);
  text-align: center;
  padding-top: 0px;
  border-top: 1px solid #ad9eff;
  color: black;
  background-image: url("/Default_Cover/footer.png");
  background-size: auto 35px;
}

.FooterText {
  font: 10pt forum;
  margin-top: 10px;
  color: white;
}

//--------------------------------- For tokens ---------------------------------

.tf2 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  width: 100%;
  height: 35px;
  border: 2px solid white;
  margin: 0px;
  outline: none;
  border-radius: 8px;
  background: #ccc2ff;
  padding-top: 5px;
  font: 12pt forum;
}

.header_link2 {
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  margin: 20px 20px 0px 20px;
  font: 14pt forum;
  color: black;
  &:link {
    color: black;
  }
  &:visited {
    color: black;
  }
  &:hover {
    color: white;
  }    
}

.plain_header {
  display: inline-block;
  vertical-align: middle;
  margin: 0px 20px 0px 20px;
  font: 16pt forum;
  color: black;
}

//--------------------------------- For debugging ------------------------------

/* For debug 
.debug {
  @extend .rubber;
  width: 100%;
  overflow: auto;
  border: 1px solid black;
  text-align: left;
  margin-top: 350px;
}
*/


